$size-title-main: 56px;
$weight-title-main: 800;
$lh-title-main: 64px;

$size-title-section: 40px;
$weight-title-section: 700;
$lh-title-section: 48px;

$size-sub-title: 28px;
$weight-sub-title: 700;
$lh-sub-title: 36px;

$size-text-intro: 20px;
$weight-text-intro: 400;
$lh-text-intro: 32px;

$size-text: 16px;
$weight-text: 400;
$lh-text: 26px;

$size-little-text: 14px;
$weight-little-text: 400;
$lh-little-text: 22px;